.label {
  display: flex;
  flex-direction: column;
}

.input {
  margin-top: 8px;
  border-radius: 6px;
  padding: 8px 10px;
  max-width: 300px;
  background-color: $white;
  border: 1px solid $medium-grey;

  &:focus {
    outline: transparent;
    box-shadow: $inputBoxshadow;
  }
}
