@import "../styles/variables.scss";

html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $primary;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  font-family: $main-font;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
input,
select,
textarea,
span,
label,
input {
  color: $black;
}

.bold {
  font-weight: bold;
}

h2 {
  color: $accentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
li {
  &::selection {
    background: $paleSecondary;
  }
}

input,
select,
textarea {
  font-size: 16px; // font-size < 16px makes ios devices zoom in
  margin-top: 8px;
  border-radius: $borderRadius;
  padding: 8px 25px 8px 10px;
  border: 1px solid $primary;
  background-color: transparent;
  max-width: 300px;
  width: 100%;
  &:focus {
    outline: transparent;
    box-shadow: $inputBoxshadow;
    background-color: $white;
  }
}

label {
  display: flex;
  flex-direction: column;
}
