@import "../styles/variables.scss";

html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $primary;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  font-family: $main-font;
}

input,
select,
textarea {
  font-size: 16px; // font-size < 16px makes ios devices zoom in
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
input,
select,
textarea,
span,
label,
input {
  color: $black;
}

.bold {
  font-weight: bold;
}

h2 {
  color: $accentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
li {
  &::selection {
    background: $paleSecondary;
  }
}
