// fonts
$main-font: 'DM Sans', sans-serif;

// colors
$white: #ffffff;
$black: #2e2e2e;
$success: #2e8b57;
$error: #d94545;
$light-grey: #f9f9f9;
$medium-grey: #d3d3d3;
$darker-grey: #b8b8b8;
$darkest-grey: #606060;
$primary: #0d6a7b;
$secondary: #37beb0;
$paleSecondary: #37beb082;
$accentColor: #e56b54;

// other
$inputBoxshadow: 0 0 0 4px rgb(55 190 176 / 20%);
$cardBoxShadow: 0 15px 30px #00000035;

$borderRadius: 5px;

// z-indexes
$modalIndex: 99;
$modalOverlayIndex: 98;
