// fonts
$main-font: "DM Sans", sans-serif;

// colors
$white: #ffffff;
$black: #2e2e2e;
$success: #2e8b57;
$error: #d94545;
$light-grey: #f9f9f9;
$medium-grey: #d3d3d3;
$darker-grey: #b8b8b8;
$primary: #0c6170;
$secondary: #37beb0;

// box shadows
$inputBoxshadow: 0 0 0 4px rgb(55 190 176 / 15%);
