.arrowSelect {
  position: relative;
  max-width: 300px;

  select {
    padding: 8px 25px 8px 10px;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  svg {
    position: absolute;
    width: 11px;
    right: 10px;
    top: 58%;
    transform: translate(0, -50%);
    z-index: 1;
    pointer-events: none;
  }
}
