* {
  box-sizing: border-box;
  font-family: $main-font;
}

html {
  padding: 0;
  margin: 0;
}

body {
  background-color: $sand;
  margin: 0 auto;
  min-height: 100vh;
  width: 100vw;
  padding: 50px 20px;
}

a {
  text-decoration: none;
  color: $primary;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
input,
select,
textarea,
span,
label,
input {
  color: $black;
}

.bold {
  font-weight: bold;
}

h2 {
  color: $accentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
li {
  &::selection {
    background: $paleSecondary;
  }
}

input,
select,
textarea {
  font-size: $normal;
  margin-top: 8px;
  border-radius: $radius5;
  padding: 8px 10px;
  border: 1px solid $primary;
  background-color: $white;
  width: 100%;
  &:focus,
  &:active {
    outline: transparent;
    box-shadow: $inputActive;
    background-color: $white;
  }
}

label {
  display: flex;
  flex-direction: column;
}
