// zindexes
$selectIndex: 97;
$modalIndex: 99;
$modalOverlayIndex: 98;

// box shadows
$inputActive: 0 0 0 4px rgb(55 190 176 / 20%);
$boxShadow: 0 15px 30px #00000035;

// other
$radius5: 5px;
$radius20: 20px;
