.toastWrapper {
  position: fixed;
  bottom: 10px;
  max-width: 320px;
  right: 10px;
  z-index: $modalIndex;
}

.container {
  display: flex;
  padding: 20px;
  border-radius: $radius5;
  font-size: 18px;
  margin: 20px 0;
  min-width: 280px;
}

.leftCol {
  margin-left: auto;
  button {
    &:hover {
      color: $white;
    }
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.rightCol {
  display: flex;
  overflow-wrap: anywhere;
}

.error {
  border: 1px solid $error;
  color: $white;
  background-color: $error;
  button {
    color: $white;
  }
}

.warning {
  border: 1px solid $warning;
  color: $white;
  background-color: $warning;
  button {
    color: $white;
  }
}

.success {
  border: 1px solid $success;
  color: $white;
  background-color: $success;
  button {
    color: $white;
  }
}

.info {
  border: 1px solid $secondary;
  color: $white;
  background-color: $secondary;
  button {
    color: $white;
  }
}

@-webkit-keyframes slidein {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(-20px);
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(-20px);
    opacity: 1;
  }
}

@-webkit-keyframes slideout {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  10% {
    transform: translateX(-20px);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slideout {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  10% {
    transform: translateX(-20px);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -webkit-animation: slidein 0.5s, slideout 0.5s 9.6s;
  animation: slidein 0.5s, slideout 0.5s 9.6s;
}

@media screen and (prefers-reduced-motion: reduce) {
  .animate {
    animation: none !important;
  }
}
