.bodyOverlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.6);
  z-index: $modalOverlayIndex;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.modalWrapper {
  padding: 25px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 380px;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  z-index: $modalIndex;
  background-color: $white;
  border-radius: 20px;
  vertical-align: center;
}

.header {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: flex-start;

  h2 {
    color: $primary;
    margin: 0;
  }

  button {
    margin-left: auto;
  }
}

.body {
  height: 100%;
  max-height: 300px;
  overflow-x: scroll;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  button {
    margin: 20px 0 0 0;
  }
}
