.container {
  margin: 20px 0;
}

.checkboxContainer {
  display: flex;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    opacity: 0;
    margin-bottom: -20px;

    &:checked + span {
      &:before {
        background-color: $primary;
        border: 1px solid $primary;
        color: $white;
      }
    }

    &:disabled + span {
      cursor: not-allowed;
      opacity: 0.7;

      &:before {
        border: 1px solid $darker-grey;
        background-color: $medium-grey;
      }
    }

    &:disabled {
      &:checked + span {
        cursor: not-allowed;
        opacity: 0.7;
        &:before {
          background-color: $medium-grey;
          border: 1px solid $darker-grey;
        }
      }
    }
  }
}

.checkboxLabel {
  display: inline-flex;
  position: relative;
  &:before {
    margin-right: 10px;
    content: '';
    background-color: transparent;
    border-radius: $radius5;
    border: 1px solid $primary;
    height: 21px;
    width: 21px;
    min-width: 21px;
  }
  svg {
    color: $white;
    position: absolute;
    width: 18px;
    z-index: 1;
    margin: 3px;
  }
}

.checkboxContainer input:focus + .checkboxLabel::before {
  box-shadow: $inputActive;
  outline: 3px solid transparent;
}
