.container {
  margin: 20px 0;
}

.checkboxContainer {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  svg {
    color: $white;
    position: absolute;
    width: 15px;
    margin: 4px;
    z-index: 1;
  }

  input {
    display: none;

    &:checked + span {
      &:before {
        background-color: $primary;
        border: 1px solid $primary;
        color: $white;
      }
    }

    &:disabled + span {
      cursor: not-allowed;
      opacity: 0.7;

      &:before {
        border: 1px solid $darker-grey;
        background-color: $medium-grey;
      }
    }

    &:disabled {
      &:checked + span {
        cursor: not-allowed;
        opacity: 0.7;
        &:before {
          background-color: $medium-grey;
          border: 1px solid $darker-grey;
        }
      }
    }
  }
}

.checkboxLabel {
  display: inline-flex;
  &:before {
    margin-right: 10px;
    content: "";
    background-color: $white;
    border-radius: 5px;
    border: 1px solid $medium-grey;
    height: 21px;
    width: 21px;
    min-width: 21px;
  }
}
