.primary-large,
.primary-small,
.secondary-large,
.secondary-small {
  margin: 5px;
  border-radius: $borderRadius;
  font-size: 16px;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    background-color: $medium-grey;
    color: $darkest-grey;
    border: 1px solid $darker-grey;
    &:hover {
      background-color: $medium-grey;
      border: 1px solid $secondary;
      color: $darkest-grey;
      border: 1px solid $darker-grey;
    }
  }

  &:hover {
    background-color: $secondary;
    border: 1px solid $secondary;
    color: $white;
  }

  svg {
    width: 15px;
    height: 15px;
    margin: 0 5px;
  }
}

.primary-large,
.primary-small {
  background-color: $primary;
  border: 1px solid $primary;
  color: $white;
}

.secondary-large,
.secondary-small {
  background-color: transparent;
  border: 1px solid $primary;
  color: $primary;
}

.primary-large,
.secondary-large {
  padding: 20px;
}

.primary-small,
.secondary-small {
  padding: 10px 20px;
}

.icon {
  background-color: transparent;
  color: $black;
  border: none;
  cursor: pointer;

  svg {
    width: 25px;
    height: 25px;
  }

  &:hover {
    color: $secondary;
  }
}
