.container {
  display: flex;
  position: relative;
  width: 100%;
  margin: 20px 0;

  input,
  label {
    max-width: 100%;
    width: 100%;
  }

  button {
    position: absolute;
    right: 1px;
    bottom: 1px;
    padding: 7px 10px;
    opacity: 0.7;
    vertical-align: middle;
    display: flex;
    align-items: center;

    svg {
      width: 20px;
      height: 20px;
      color: $primary;
      pointer-events: none;
    }
  }
}
